@media  screen and (max-width: 770px){
    .nav_links{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        left: 0;
        top: 65px;
        align-items: flex-start;
        transition: 0;
        background: #fff;
    }

    .logo{
        width: 140px;
    }

    .nav_links li{
        width: 100%;
        padding: 0 20px;
    }

    .nav_links li a{
        display: block;
        width: 100%;
        text-align: left; 
        border-radius: 0;
        border-bottom: 1px solid rgba(128, 128, 128, 0.247);
    } 
    .nav_links li:last-child a{

        border-bottom: none;
    }

    .nav_links li a:hover{
        background: orange;
    }

    .menubar{
        position: absolute;
        right: 10%;
        top: 19%;
        font-size: 20px;
        display: block;
        cursor: pointer;
        padding: 5px 10px;
        border: 1px solid lightgray;
        border-radius: 2px;

    }

    /* =============================================
    -----------Home section-----------------------
    ================================================ */

    .child_home{
        flex-basis: 100%;
        margin: 40px 0;
    }
    .inner_home{
        align-content: center;
    }

    .child_home h3{
        font-size: 20px;
    }

    .child_home h1{
        font-size: 25px;
    }
    .product_search input[type="submit"]{
        width: 180px
    }


    /* =============================================
    -----------service section-----------------------
    ================================================ */

    .child_service{
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    .section_title h2{
        font-size: 30px;
    }

    /* =============================================
    -----------pricing section-----------------------
    ================================================ */

    .child_pricing{
        flex-basis: 100%;
    }

    .pricing_card{
        margin: 0 auto;
        width: 250px;
        padding: 20px 20px;
    }

    /* =============================================
    -----------client section----------------------
    ================================================ */

    .inner_client{
        flex-direction: row;
    }

    .child_client{
        flex-basis: 100%;
    }

    .client_item{
        flex-basis: 100%;
        margin-bottom: 30px;
    }



    .logo_item{
        height: auto;
        flex-basis: 31%;
        margin-bottom: 30px;
    }

    /* =============================================
    -----------aboutus section----------------------
    ================================================ */

    .child_about{
        flex-basis: 100%;
    }


    /* =============================================
    -----------our team section----------------------
    ================================================ */

    .child_team{
        flex: 100%;
        margin-bottom: 30px;
    }

    .child_team:last-child{
        margin-bottom: 0px;
    }


    /* =============================================
    -----------login page----------------------
    ================================================ */
    .inner_login{
        width: 92%;
    }


    .child_login{
        flex-basis: 100%;
    }

    .child_login img{
        display: none;
    }

    .child_testi{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    
    /* =============================================
    -----------signup page-----------------------
    ================================================ */

    .signup_box{
        margin: 10px;
        padding: 20px 30px;
        width: 97%;
    }

    .signup_box h3{
        font-size: 25px;
    }

    .signup_area .section_title p{
        font-size: 15px;
    }

    .signup_area .section_title h2{
        font-size: 25px;
   }


   
   

}