*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

img{
    width: 100%;
}

section{
    padding: 100px 0;
}


/* =============================================
-----------Header section-----------------------
================================================ */

header{
    background: white;
    box-shadow: 3px 3px 4px lightgray;
    position: fixed;
    width: 100%;

}

.menubar{
    display: none;
}

.navbar{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
}

.logo{
    width: 160px;
}

.nav_links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right
}

.nav_links li a{
    padding: 10px 20px;
    font-size: 18px;
    margin: 0;
    color: black;
    transition: .3s;
    border-radius: 25px;
}

.nav_links li a:hover{
    background: orange;
    color: #fff;
}


/* =============================================
-----------Home section-----------------------
================================================ */

#home{
    background: url(../img/home-bg.png) no-repeat center;
}

.inner_home{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    
}

.child_home{
    flex-basis: 48%;
}


.child_home h3{
    font-size: 25px;
    font-weight: 500;
    color: orange;
    margin-bottom: 15px;

}

.child_home h1{
    font-size: 45px;
    color: #244361;
    margin-bottom: 20px
}

.product_search{
    padding: 8px;
    display: flex;
    border-radius: 25px;
    justify-content: space-between;
    background: #fff;
}

.product_search input[type="text"]{
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 25px 0px 0px 25px;
    font-size: 18px;
}

.product_search input[type="submit"]{
    background: orange;
    padding: 10px 20px;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
}


/* =============================================
-----------service section-----------------------
================================================ */

#service{
    background: url(../img/home-bg.png) center; 
}

.section_title{
    text-align: center;
    margin-bottom: 60px;
}

.section_title p{
    font-size: 20px;
    font-weight: 600;
    color: gray;
}

.section_title h2{
    font-size: 40px;
    font-weight: 400;
}

.inner_service{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
}

.child_service{
    flex-basis: 30%;
    background: lightgray;
    padding: 40px 20px;
    border-radius: 10px;
    transition: .3s;
}


.child_service:hover{
    transform: scale(1.03);
}

.child_service .service_icon{
    width: 150px;
    margin: 0 auto;
}

.child_service h2{
    margin: 10px 0px;
}

.child_service p{
    font-size: 17px;
    line-height: 25px;
}